
@media (max-width:740px){

    /* -----------Navigation---------- */


    nav {
        width: 40px;
    }

    nav.active {
        width: 150px;
    }


    nav ul li {
        margin-left: -15px;
    }

    li.active {
        background-color: transparent;
    }
 
    ion-icon {
        font-size: 1.5em;
    }

    .toggle {
        position: fixed;
        top:30px;
        left: 10px;
        width: 20px;
        height: 20px;;
    }

    /* -----------home----------- */


    section#Home div.grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px;
        padding:0px;
        background-color: #364659;
    }
    
    .item-a{
        margin: 0px;
        padding: 0px;
        grid-row:100px;
        background-image: url(../img/two-professional-boxer-boxing-on-black-smoky.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    
    .item-b {
        background-color: #364659;
        padding: 50px;
    }
    
    .item-b p{
        margin-top: 40px;
        font-size: 22px;
        padding: 10px;
        text-align: left;
    }
    
    button {
        background-color:#161D26;
        border-color: #161D26;
        color: white;
        width: 150px;
        height: 50px;
        margin-top: 10px;
        box-shadow: -4px 3px 3px #161D26;
    }
    
    button:hover {
        background-color: #6883A6;
        color:#161D26;
        
    }
    
    .item-c{
        background-color:transparent;
        grid-column: 1/3;
        height: 50px;
        margin-top:400px;
        margin-left: 155px;
    }
    
    .item-c p {
        font-size: 40px;
        padding: 0;
        margin: 0 auto;
    }

    /* -----------about----------- */

    #About .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "box2"
            "box1"
        ;
        background-color: #364659;
        padding: 0px;
        margin-top: 0px;
    }

    .item-1 {
        grid-area: header;
    }

    
    .item-3{
        grid-area: box2;
        height: 600px;
        background-color: #161D26;
        background-image: url(../img/african-sporty-man-boxing-mixed-people-training.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .item-2 {
        grid-area: box1;
        background-color: #161D26;
        height: 1400px;
        padding: 60px;
    }


    p button.moreinfo {
        border-color: white;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    /* -----------style----------- */

    #Style div.grid-container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 32% 32% 32%;
        gap: 30px;
        padding: 50px;
    }

    .item-d {
        transition: none;
    }

    .item-d a {
        display:none;
    }

    .item-d:hover{
        transform: none;
    }

    .item-e { 
        transition: none;
    }

    .item-e a {
        display:none;
    }

    .item-e:hover{
        transform: none;
    }

    .item-f {
        transition: none;
    }

    .item-f a {
        display:none;
    }

    .item-f:hover{
        transform: none;
    }

    .teste1 h1 {
        cursor: auto;

    }

    .teste2 h1 {
        cursor: auto;
    }

    .teste3 h1 {
        cursor: auto;
    }


    /* -----------service----------- */


    #Services div.grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 700px;
    }

    #Services div h1 {
        color: #161D26;
        font-size: 30px;
    }

    #Services div p {
        color: #161D26;
    }

    #Services div h3 {
        color: #161D26;
        font-size: 22px;
    }

    /* -----------contact----------- */

    section#Contact div.grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px repeat(6);
        padding: 50px;
        gap: 15px;
    }

    .item-h {
        grid-column: 1fr;
        grid-row: 1/5;
            
    }

    .item-h h1 {
        font-size: 40px;
    }

    .item-i{
        grid-column: 1fr;
        grid-row: 5/6;
        transition: none;
    }

    .item-i:hover {
        transform: none;
    }

    .item-i h1 {
        font-size: 30px;
    }

    input#name {
        display: grid;
        grid-column: 100%;
        grid-row: 1/2;
        width: 90%;
        margin: 5px;
        padding: 10px;
    }

    input#email {
        display: grid;
        grid-column:100%;
        grid-row: 3/4;
        width: 90%;
        margin: 5px;
        padding: 10px;
    }

    textarea#coments {
        display: grid;
        grid-column: 100%;
        grid-row: 5/7;
        width: 90%;
        margin: 5px;
        padding: 10px;
    }

    .fab {
        color: white;
        font-weight: 300px;
        margin: 10px;
        padding: 10px;
        font-size: 30px;
    }

}