

@media (max-width:1024px){
    
        /*----- HOME -----*/

        section#Home div.grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px repeat(6);
            padding: 70px;
        }

        .item-a{
            grid-column: 1fr;
            grid-row: 1/2;
        }

        .item-b {
            grid-column: 1fr;
            grid-row: 2/6;
            background: #161D26;
        }

        .item-b a {
            font-size: 15px;
        }

        .item-b p{
            margin-top: -8px;
            font-size: 20px;
            padding: 10px;
            text-align: left;
        }

        button {
            background-color: #364659;
            border-color:#364659;
            width: 120px;
            height: 50px;
            margin-bottom: 10px;
        }


        .item-c{
            grid-column: 1fr;
            grid-row: 1/2;
            grid-column: 1fr;
            margin: 0 auto;
            position: absolute;
        }

        .item-c p {
            font-size: 100px;
            padding: 70px;
            margin: 0 auto;
        }

        /* -----------about----------- */

        
        #About .grid-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "header"
                "box2"
                "box1"
            ;
            padding: 70px;
        }

        .item-1 {
            grid-area: header;
            height: 70px;
        }

        .item-3{
            grid-area: box2;
        }

        .item-2 {
            grid-area: box1;
        }

        .item-2 a {
                font-size: 15px;
        }
        .item-2 p.text{
            margin: 50px 20px;
            text-align: left;
            
        }

        p button.moreinfo {
            border-color: #364659;
        }

        svg {
            display: none;
        }

        /* -----------style----------- */

        #Style div.grid-container {
            display: grid;
            gap: 10px;
            padding: 70px;
        }

        .item-d {
            transition: none;
        }

        .item-d a {
            display: none;
        }

        .item-d:hover{
            transform: none;
        }

        .item-e { 
            transition: none;
        }

        .item-e a {
            display: none;
        }

        .item-e:hover{
            transform: none;
        }

        .item-f {
            transition: none;
        }

        .item-f a {
            display: none;
        }

        .item-f:hover{
            transform: none;
        }

        .teste1 h1 {
            margin-top: 400px;
            cursor:auto;

        }

        .teste2 h1 {
            margin-top: 400px;
            cursor: auto;
        }

        .teste3 h1 {
            margin-top: 400px;
            cursor: auto;
        }
        /* -----------service----------- */


        #Services div.grid-container {
            grid-template-rows: 300px;
            padding: 70px;
        }

        #Services div h1 {
            font-size: 50px;
        }

        #Services div p {
            font-size: 20px;
        }

        #Services div h3 {
            font-size: 20px;
        }

        /* -----------contact----------- */

      section#Contact div.grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "form"
                "social"
            ;
            padding: 70px;
            gap: 15px;
        }

        .item-h {
            grid-area: form;
            grid-row: 1/5;
                
        }

        .item-h h1 {
            font-size: 50px;
        }

        .item-i{
            grid-area: social;
            grid-row: 5/6;
            transition: none;
        }
        .item-i:hover {
            transform: none;
        }

        .item-i h1 {
            font-size: 30px;
        }

        .fab {
            color: white;
            font-weight: 300px;
            margin: 10px;
            padding: 10px;
            font-size: 40px;
        }

} 